{% extends 'base.html' %}

{% block content %}

<table class="table table-compact table-striped table-hover">
    <tr>
        <th>patient</th>
        <th>date de naissance </th>
        <th>genre</th>
        <th>FDR</th>
        <th>antécedents</th>
        <th>tags</th>

        </tr>



    {% for patient in patients %}
        <tr>
            <td><a href="{% url 'clinic:patient_detail' patient.slug  %}">{{ patient.name }} </a></td>

            <td>{{ patient.birth }}</td>

            <td>{% if patient.gender == 'F' %} <i class="fa fa-venus ">{% elif patient.gender == 'M' %}<i class="fa fa-mars"> {% else %} indéterminé {% endif %}</td>
            <td>{% if patient.hta == True %}HTA {% endif %} {% if patient.diabete == True %} diabète {% endif %} {% if patient.dyslipidemia == True %} dyslipidémie {% endif %} {% if patient.obesity == True %} obésité {% endif %}{% if patient.heredity == True %} Hérédité coronaire {% endif %} {% if patient.sedentarity == True %}sédentarité {% endif %} {% if patient.smoker == True %} tabagisme {% endif %}</td>

            <td>{{ patient.history }}</td>
            <td>{% for tag in patient.tags.all %} <span class="badge badge-md amber darken-2">{{ tag }}</span>  {% endfor %}
            </tr>
            {% endfor %}
            </table>
            <hr>

{% endblock %}
