

{% extends "base.html" %}
{% load staticfiles %}


{% block title %}{{ block.super }}Patient {{ patient.name }}{% endblock title %}




{% block content %}
<hr>
     <h2>{{ patient.name }}</h2>



    <table class="table table-compact table-striped table-hover">
        <tr>
            <th>consultation</th>
            <th>Motifs </th>
            <th>Urgence?</th>
            <th>Resumé clinique</th>
            <th>dispositions complémentaires</th>
            <th>Éditer</th>
            <th>tags</th>

       </tr>

        {% for consultation in consultations %}
        <tr>
            <td><a href="{% url 'clinic:consultation_pdf' slug=patient.slug pk=consultation.pk %}"><span class ="fa fa-print" aria-hidden="true"></span> <strong>{{ consultation.consultation_date }}</strong></a></td>


            <td>{% for motif in consultation.motif_consultation.all %} {{ motif }} {% endfor %}</td>
            <td>{% if consultation.emergency == True %} oui {% else %} non {% endif %}</td>
            <td>{{ consultation.resume }}</td>
            <td>{{ consultation.dispositions }}</td>

            <td><a href="#"><span class ="fa fa-pencil" aria-hidden="true"></span></a></td>
            <td>{% for tag in patient.tags.all %} <span class="label label-warning">{{ tag }}</span> {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <hr>


    <h3>Document médicaux</h3>

    <table class="table table-compact table-striped table-hover">
        <tr>
            <th>Courriers</th>
            <th>Ordonnances</th>
            <th>Stress echo</th>
            <th>coroscan</th>
       </tr>
       <tr>
           <th>
               <ul>
courrier
  

  </li>


         
 <li>
        
         hohohoh
 

                   <li>     </li>
                   <li>     </li>

               </ul>

           </th>
        <tr>
         
    </table>
    <hr>



{% endblock content %}